.backgroundVideo {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
  display: block;
}

.videoFallback {
  position: fixed;
  inset: 0;
  z-index: -10;
  background-color: #a0afa6;
}
